*{
  margin: 0;
  outline: 0;
  padding: 0;
}

:root{
  --padding: 10px;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.thermo-container{
  padding: 40px;
}

#display-temperature{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  text-align: center;
  padding: 50px;
  border-radius: 50%;
}

#display-temperature #currentTemperature{
  color: #2F2F2F;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}

.error-message{
  text-align: center;
  padding: 5px;
}

.fas{
  font-size: 20px;
  transition: opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

#form-holder{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.fas:hover{
  opacity: 0.6;
  color: red;
}


.info-container{

  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

li{
  list-style-type: none;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.flex-container .up{
  padding: var(--padding);
}
.flex-container .down{
  padding: var(--padding);
}

.flex-container .powerSaver{
  padding: var(--padding)
}

.flex-container .reset{
  padding: var(--padding);
}


